.jumbotron {
  text-align: center;
  background: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR4810LEwDAYY754iOg2bTB-3e3mKFLCXVCXA9Jdws03hRRSe3l")no-repeat center;
  height: 300px;
  background-color: black;
}
